body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(104, 7, 7);
     text-align: left;
     font-size: x-large;
    }

header { color: white;
         padding: 10px;


}

h1 { color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: xx-large;}

    input {padding: 10px;
        width: 20%;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 4px; }